<div ng-controller="FindCipController">
  <h2>Recherche par CIP:</h2>
  <div class="row">
    <div class="col-sm-10">
      <input id="cip" class="form-control" ng-model="cip">
    </div>
    <button class="btn btn-default" ng-click="findUser()">Rechercher</button>
  </div>
  <p id="pNotFound" class="bg-danger ng-hide">Le cip n'a pas été trouvé</p>

  <div id="userFound" class="ng-hide">
    <h2>Droits pour {{user.prenom}} {{user.nom}} :</h2>
    <ul class="list-group">
      <li class="list-group-item" data-ng-repeat="right in user.rights">
        {{ right }} <a ng-click="deleteRight(right)"><span class="glyphicon glyphicon-remove"></span></a>
      </li>

      <li class="list-group-item" ng-if="user.rights.length !== rights.length">
        <div class="row">
          <div class="col-sm-10">
            <select class="form-control" id="newRight">
              <option ng-repeat="right in rights" ng-value="right" ng-if="user.rights.indexOf(right) === -1">{{right}}</option>
            </select>
          </div>
          <button class="btn btn-default" ng-click="addRight()">Ajouter</button>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h2>Liste des utilisateurs avec droits :</h2>
    <ul class="list-group">
    <% users.forEach(function(user) { %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-10">
            <%=user.prenom%> <%=user.nom%> <%=user.cip%><br/><%=user.rights%> 
          </div>
          <div>
            <button class="btn btn-default" ng-click='findUserCip("<%=user.cip%>")'>Modifier</button>
          </div>
        </div>
      </li>
    <% }) %>
    </ul>
  </div>
</div>