<form role="form" action="/admin/access" method="post">
	<% if(typeof successMessage != "undefined") { %><h4 style="color:green;"><%= successMessage %></h4> <% } %>
  <div class="row">
    <div class="col-md-6">
      <label for="cip">CIP</label>
    </div>
    <div class="col-md-6">
      <label for="rights">Rights</label>
    </div>
  </div>
	  <% users.forEach(function(user, idx) { %>
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" name="<%= user.cip %>.cip" value="<%= user.cip %>" readonly>
      </div>
      <div class="col-md-6">
        <select class="form-control" name="<%= user.cip %>.rights">
          <option value="<%= adminRights.NONE %>" <% if(user.rights == adminRights.NONE) { %> selected <% } %>>None</option>
          <option value="<%= adminRights.BANDANA %>" <% if(user.rights == adminRights.BANDANA) { %> selected <% } %>>Directeur Bandana</option>
          <option value="<%= adminRights.PERMIE %>" <% if(user.rights == adminRights.PERMIE ) { %> selected <% } %>>Permie</option>
          <option value="<%= adminRights.ADMIN %>" <% if(user.rights == adminRights.ADMIN ) { %> selected <% } %>>Admin</option>
        </select>
      </div>
    </div>
	  <% }) %>
  <div class="row">
    <div class="col-md-6" style="padding-top:10px">
      <button type="submit" class="btn btn-success" onclick="postListFromTable('userTable', '/admin/access')">Submit</button>
    </div>
  </div>
</form>