<form action="/profile" id="profile" method="post" name="profile" role="form">
  <fieldset>
    <legend>Utilisateur</legend>
    <div class="form-group">
      <label for="cip">CIP:</label>
      <input type="text" class="form-control" id="cip" name="cip" pattern="<%= regExes.cip %>" title="CIP de l'Université (ex: AGEG1337)" value="<%= userInfo.cip %>" readonly>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" class="form-control" id="prenom" name="prenom" onchange="updateProfile(this.id)" pattern="<%= regExes.name %>" value="<%= userInfo.prenom%>" required>
      <% if(typeof(err) !== 'undefined' && err !== null) { %>
        <% if(typeof(err.errors.prenom) !== 'undefined') { %>
          <p><%= err.errors.prenom.message %></p>
        <% } %>
      <% } %>
    </div>
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" id="nom" name="nom" onchange="updateProfile(this.id)" pattern="<%= regExes.name %>" value="<%= userInfo.nom %>" required>
      <% if(typeof(err) !== 'undefined' && err !== null) { %>
        <% if(typeof(err.errors.nom) !== 'undefined') { %>
          <p><%= err.errors.nom.message %></p>
        <% } %>
      <% } %>
    </div>
    <div class="form-group">
      <label for="email">Adresse courriel:</label>
      <input type="email" class="form-control" id="email" name="email" onchange="updateProfile(this.id)" pattern="<%= regExes.email %>" placeholder="adresse@USherbrooke.ca ou @AGEG.ca" title="Adresse courriel @USherbrooke.ca ou @AGEG.ca" value="<%= userInfo.email %>" required>
    </div>
    <div class="form-group">
      <label for="phone">Téléphone:</label>
      <input type="tel" class="form-control" id="phone" name="phone" onchange="updateProfile(this.id)" pattern="<%= regExes.phone %>" placeholder="ex: 1-819-569-3776" title="Numéro de téléphone à 9 ou 10 chiffres. Les délimiteurs optionnels autorisés sont '(' ,')' , '-' et ' '." value="<%= userInfo.phone %>" required>
    </div>
  </fieldset>
    <div class="form-group">
      <label for="dept">Concentration:</label>
      <select class="form-control" id="dept" name="dept" onchange="updateProfile(this.id)" pattern="<%= regExes.dept %>">
        <% depts.list.forEach(function (dept) { %>
          <% if(dept.localeCompare(userInfo.dept) === 0) { %>
            <option selected><%= dept %></option>
          <% } else { %>
            <option><%= dept %></option>
          <% } %>
        <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="promo">Promotion:</label>
      <input class="form-control" id="promo" onchange="updateProfile(this.id)" max="99" min="50" name="promo" pattern="<%= regExes.promo %>" step="1" type='number' value="<%= userInfo.promo %>" required>
      </div>
    <fieldset>
      <legend>Services avancés</legend>
      <div class="form-group">
        <label for="uname">Utilisateur LDAP de l'AGEG:</label>
        <input type="text" class="form-control" id="uname" onchange="unlockPassword()" name="uname" pattern="<%= regExes.uname %>" placeholder="Pas le CIP ni le matricule!" title="Optionnel, si vous avez un compte personnel sur les serveur de l'AGEG, entrez le ici.&#10; Le format accepté est AGEG\utilisateur ou utilisateur@ageg.local." value="<%= userInfo.uname %>">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input class="form-control" disabled id="password" onchange="challengeUser()" name="password" type="password">
      </div>
    </fieldset>
  <button type="submit" class="btn btn-default" name="submit">Submit</button>
</form>
<script type="application/javascript" src="/js/profile-scripts.js"></script>