<div class="jumbotron">
    <p>Demandes de remboursement de l'AGEG</p>
</div>
<form role="form" action="/refunds" enctype="multipart/form-data" method="post" id="refundform" name="refundform" oninput="<%= formulas.sumString %>">
	<fieldset>
		<legend>Demandeur:</legend>
		<div class="form-group">
			<label for="cip">CIP:</label>
			<input type="text" class="form-control" id="cip" name="cip" value="<%= reqInfo.cip %>" readonly required>
		</div>
		<div class="form-group">
			<label for="prenom">Prénom:</label>
			<input type="text" class="form-control" id="prenom" name="prenom" value="<%= reqInfo.prenom %>"readonly required>
		</div>
		<div class="form-group">
			<label for="nom">Nom:</label>
			<input type="text" class="form-control" id="nom" name="nom" value="<%= reqInfo.nom %>" readonly required>
		</div>
		<div class="form-group">
			<label for="email">Adresse courriel:</label>
			<input type="email" class="form-control" id="email" name="email" value="<%= reqInfo.email %>" readonly required>
		</div>
	</fieldset>
	<fieldset>
		<legend>Demande</legend>
		<input type="hidden" class="form-control" id="refund_id" name="refund_id" value="<%= reqInfo._id %>" required>
		<input type="hidden" class="form-control" id="bill_count" name="bill_count" value="<%= reqInfo.billCount %>">
		<div class="form-group">
			<label for="reference">Référence</label>
			<input type="text" class="form-control" id="reference" name="reference" placeholder="Description de la demande" required>
		</div>
		<div class="form-group">
			<label for="category">Catégorie budgétaire</label>
			<input type="text" class="form-control" id="category" name="category" placeholder="Catégorie Budgétaire" value="<%= reqInfo.category %>" required>
		</div>
		<div class="form-group">
			<label for="total">Total</label>
			<output id="totalOut" name="totalOut" for="<%= formulas.fieldString %>"><%= reqInfo.total %></output>&nbsp;$
			<input type="hidden" class="form-control" id="total" name="total" value="<%= reqInfo.total %>">
		</div>
		<div class="form-group">
			<label for="notes">Notes</label>
			<textarea class="form-control" id="notes" name="notes" placeholder="Notes sur la demande" rows="4" value="<%= reqInfo.notes %>"></textarea>
		</div>
	</fieldset>
	<% for(var billNo = 1; billNo <= reqInfo.billCount; billNo++){ %>
    <% include refund_snippets/bills.ejs %>
  <% } %>
	<hr id="marker">
	<button type="button" class="btn btn-default" name="add" onClick="addBill()">Ajouter une facture</button>
	<button type="button" class="btn btn-default" name="save" onClick="saveRequest(document.getElementById('bill_count').value,0);">Sauvegarder la demande</buttton>
  <button type="submit" class="btn btn-default" name="submit">Soumettre la demande</button>
</form>

<script type='text/javascript' src='js/sha512.js'></script>
<script src="js/refund-scripts.js"></script>